/* 
    Document   : stylesheet
    Created on : Dec 29, 2012, 11:45:15 AM
    Author     : MahiRaj Gosemath
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

